html{
	height:100%;
	background: #d8e0de;
	background: -moz-linear-gradient(-45deg, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d8e0de), color-stop(22%,#aebfbc), color-stop(33%,#99afab), color-stop(50%,#8ea6a2), color-stop(67%,#829d98), color-stop(82%,#4e5c5a), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(-45deg, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: -o-linear-gradient(-45deg, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: -ms-linear-gradient(-45deg, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: linear-gradient(135deg, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=1 );
	font-family: sans-serif;
}

h1{
  color: #554763;
  font-weight: 600;
  font-size: 40px;
  margin: 40px 0px 20px;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	width: 500px;
	margin: 100px auto;
}
input.timeInput{
	width: 40px;
	height:40px;
	font-size: 25px !important;
}

#text-announce{
	height: 30px;
	width: 250px;
	font-size: 18px;
	background-color: #706975;
	color: #000;
	border: 2px inset #aaa;
	border-radius: 5px;
	padding-left: 10px;
}

.time-separator{
	font-size: 1.2em;
	color: black;
	font-weight: 700;
}

#error-mess .error{
	color: red;
	font-size: 0.7em;
	text-align: center;
}

.error-input{
	border: 2px ridge red !important;
	border-radius: 5px;
}

.error-input-text{
	color: red;
}

/*On off button*/
.musicswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	display: inline-block;
}
.musicswitch-checkbox {
    display: none;
}
.musicswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid transparent; border-radius: 20px;
}
.musicswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.musicswitch-inner:before, .musicswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.musicswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #706975; color: #FFFFFF;
}
.musicswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #666;
    text-align: right;
}
.musicswitch-switch {
    display: block; width: 18px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.musicswitch-checkbox:checked + .musicswitch-label .musicswitch-inner {
    margin-left: 0;
}
.musicswitch-checkbox:checked + .musicswitch-label .musicswitch-switch {
    right: 0px; 
}