<h1>Countdown Clock</h1>
<div id="clockdiv">
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<div style="display:none">
	<h1>It's time </h1>
	<button id="toLunch">to lunch</button>
	<button id="toHome">to home</button>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
function getTimeRemaining(endtime){
	  var t = Date.parse(endtime) - Date.parse(new Date());
	  console.log(t);
	  var seconds = Math.floor( (t/1000) % 60 );
	  var minutes = Math.floor( (t/1000/60) % 60 );
	  var hours = Math.floor( (t/(1000*60*60)) % 24 );
	  var days = Math.floor( t/(1000*60*60*24) );
	  return {
		'total': t,
		'days': days,
		'hours': hours,
		'minutes': minutes,
		'seconds': seconds
  };
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock(){
    var t = getTimeRemaining(endtime);

    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if(t.total<=0){
      clearInterval(timeinterval);
	  alert("Time to go!");
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock,1000);
}

function lunchTime(){
	var deadlineLunch = new Date();
	deadlineLunch.setHours(12);
	deadlineLunch.setMinutes(0);
	deadlineLunch.setSeconds(0);
	return deadlineLunch;
}

function schoolTime(){
	var deadline = new Date();
	deadline.setHours(16);
	deadline.setMinutes(30);
	deadline.setSeconds(0);
	return deadline;
}

function homeTime(){
	var deadline = new Date();
	deadline.setHours(8);
	deadline.setMinutes(45);
	deadline.setSeconds(0);
	return deadline;
}

function customTime(h, m, s){
	var deadline = new Date();
	deadline.setHours(h);
	deadline.setMinutes(m);
	deadline.setSeconds(s);
	return deadline;
}
	
$(document).ready(function(){
	var lunch = lunchTime();
	var school = schoolTime();
	
	var deadline = school;
	initializeClock('clockdiv', deadline);
});
	

</script>

<style>
	body{
	text-align: center;
	background: #00ECB9;
	font-family: sans-serif;
	font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
</style>